$base-color-purple: #805292;
$base-color-dark-grey: #545149;
$background-color-header: #ccaf89;
$background-color: #ebe7e0;
$warning-color: red;
$handle-color: #c6c3be;
$base-font: 'Source Sans Pro', sans-serif;
$font-logo: 'Bungee', cursive;
$base-measure: 1.5rem;
$background-image: url(/images/background-image.png);