$base-color-purple: #805292;
$base-color-dark-grey: #545149;
$background-color: #ccaf89;
$warning-color: red;
$base-font: 'Source Sans Pro', sans-serif;
$font-logo: 'Bungee', cursive;
$base-measure: 1.5rem;

  