@import '_variables';

.fa-circle-chevron-up {
  color: rgb(195, 51, 51);
  font-size: $base-measure * 3;
}

.bottom-button {
  position: fixed;
  right: 0%;
  bottom: 2%;
  border: 0;
  background-color: transparent;
}

.bottom-button:hover {
  transform: translateY(-$base-measure / 2);
}

@media only screen and (max-width: 400px) {
  .fa-circle-chevron-up {
    font-size: 10vw;
  }
}