@import '_variables';
@import '_mixins';

nav {
  height: $base-measure * 4;
  width: 100%;
  padding: $base-measure;
  @include flex(
    $flex-direction: row,
    $justify-content: space-between
  );
  position: fixed;
}

.nav-right-side {
  @include flex(
    $align-items: none
  );
}

.logo {
  font-family: $font-logo;
}

.write-tweet-button {
  color: $warning-color;
  border: none;
  background-color: transparent;
}

.write-tweet-button:hover {
  animation: bounce 1.5s infinite alternate-reverse;
  position: relative;
}

@keyframes bounce {
  0%   { top: 0; }
  50%  { top: $base-measure / 3; }
  100% { top: 0; }
}

@media only screen and (max-width: 400px) {
  nav {
    font-size: $base-measure / 2;
    height: $base-measure;
  }
}

@media only screen and (max-width: 1023px) {
  nav {
    background-image: $background-image;
    background-color: $background-color-header;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    height: $base-measure * 5;
    background-color: $base-color-purple;
    color: white;
  }
  .write-tweet-button {
    background-color: $base-color-purple;
  }
}