@import '_variables';

nav {
  height: 100px;
  width: 100%;
  padding: $base-measure;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.nav-right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-family: $font-logo;
}

.write-tweet-button {
  color: rgb(241, 0, 0);
  border: none;
  background-color: transparent;
}

.write-tweet-button:hover {
  animation: bounce 1.5s infinite alternate-reverse;
  position: relative;
}

@keyframes bounce {
  0%   { top: 0px; }
  50%  { top: 5px; }
  100% { top: 10px; }
}

@media only screen and (max-width: 400px) {
  nav {
    font-size: 4vw;
    height: 10vw;
  }
}

@media only screen and (max-width: 1023px) {
  nav {
    background-image: url(/images/background-image.png);
    background-color: $background-color
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    height: 120px;
    background-color: $base-color-purple;
    color: white;
  }
  .write-tweet-button {
    background-color: $base-color-purple;
  }
}