@import '_variables';

.new-tweet {
  margin-top: 1rem;
}

textarea {
  background-color: $background-color;
  border: 0;
  outline: 0;
  border-bottom: solid $base-color-dark-grey medium;
  color: $base-color-dark-grey;
  font-weight: bold;
  width: 100%;
  margin-top: $base-measure;
  margin-bottom: $base-measure;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  font-family: $font-logo;
  margin-bottom: $base-measure;
}

.tweet-button {
  color: white;
  background-color: $base-color-purple;
}

.error-message {
  display: none;
  float: right;
  font-family: $base-font;
  padding-left: $base-measure;
  color: $warning-color;
  font-size: $base-measure;
}

.red-color {
  color: $warning-color;
}

.red-border {
  border: solid $warning-color medium;
  border-radius: 10px;
}

@media only screen and (max-width: 400px) {
  .new-tweet {
    font-size: 3vw;
  }
}