@import '_variables';

.tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid $base-color-dark-grey medium;
  padding-left: $base-measure;
  padding-right: $base-measure;
  margin-bottom: $base-measure * 2;
  margin-top: $base-measure * 2;
}

.tweet:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.tweet > header, footer {
  display: flex;
  justify-content: space-between;
}

.tweet > header {
  padding-top: $base-measure;
  padding-bottom: $base-measure;
}

.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.username {
  color: #c6c3be;
}

#tweets-text {
  padding-left: $base-measure;
  padding-right: $base-measure;
  overflow-wrap: break-word;
}

.tweet > footer {
  border-top: solid $base-color-dark-grey medium;
  padding: $base-measure;
  font-size: medium;
  font-weight: bold;
}

.right-corner-icons {
  display: flex;
  justify-content: space-between;
  margin-top: -$base-measure / 2;
}

.fa-flag:hover {
  color: rgb(214, 198, 16);
}

.fa-retweet:hover {
  color: #a60ee7;
}

.fa-heart:hover {
  color: rgb(214, 27, 10);
}

@media only screen and (max-width: 400px) {
  .tweets-container {
    font-size: 3vw;
  }

  .tweet > footer  {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 1024px) {
  .tweet {
    max-width: 65vw;
  }
}
