.fa-circle-chevron-up {
  color: rgb(195, 51, 51);
  font-size: 4.5rem;
}

.bottom-button {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  border: 0;
  background-color: transparent;
}
.bottom-button:hover {
  transform: translateY(-0.75rem);
}

@media only screen and (max-width: 400px) {
  .fa-circle-chevron-up {
    font-size: 2.25rem;
  }
}
