nav {
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.logo {
  font-family: 'Bungee', cursive;
}

.write-tweet-button {
  color: red;
  border: none;
  background-color: transparent;
}

.write-tweet-button:hover {
  animation: bounce 1.5s infinite alternate-reverse;
  position: relative;
}

@keyframes bounce {
  0%   { top: 0px; }
  50%  { top: 5px; }
  100% { top: 10px; }
}

.nav-right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
  .write-tweet-button {
    background-color: #4056A1;
  }
}