nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  
}

span {
  font-family: 'Bungee', cursive;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

