.new-tweet {
  margin-top: 1.5rem;
}

textarea {
  background-color: #ebe7e0;
  border: 0;
  outline: 0;
  border-bottom: solid #545149 medium;
  color: #545149;
  font-weight: bold;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
  margin-bottom: 1.5rem;
}

.tweet-button {
  color: white;
  background-color: #805292;
}

.error-message {
  display: none;
  float: right;
  font-family: "Source Sans Pro", sans-serif;
  padding-left: 1.5rem;
  color: red;
  font-size: 1.5rem;
}

.red-color {
  color: red;
}

.red-border {
  border: solid red medium;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 400px) {
  .new-tweet {
    font-size: 0.75rem;
  }
  .error-message {
    font-size: 0.75rem;
  }
}
