.tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid #545149 medium;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-bottom: 100px;
}

.tweet:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

article.tweet > header, footer {
  display: flex;
  justify-content: space-between;
}

article.tweet > header {
  padding-top: 20px;
  padding-bottom: 20px;
}

article.tweet > footer {
  border-top: solid #545149 medium;
  padding: 20px;
  font-size: medium;
  font-weight: bold;
}

.user {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.username {
  color: #c6c3be;
}

#tweets-text {
  padding-left: 20px;
  padding-right: 20px;
}

.right-corner-icons {
  margin-top: -10px;
}

.fa-flag:hover {
  color: rgb(214, 198, 16);
}

.fa-retweet:hover {
  color: rgb(0, 106, 220);
}

.fa-heart:hover {
  color: rgb(214, 27, 10);
}

