.tweet {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: space-between;
  border: solid #545149 medium;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.tweet:hover {
  box-shadow: 0 0 1.5rem rgba(33, 33, 33, 0.2);
}

.tweet > header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.tweet > header .user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}
.tweet > header .username {
  color: #c6c3be;
}

#tweets-text {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow-wrap: break-word;
}

.tweet > footer {
  display: flex;
  justify-content: space-between;
  border-top: solid #545149 medium;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}
.tweet > footer .right-corner-icons {
  display: flex;
  justify-content: space-between;
  margin-top: -0.75rem;
}
.tweet > footer .fa-flag:hover {
  color: rgb(214, 198, 16);
}
.tweet > footer .fa-retweet:hover {
  color: #a60ee7;
}
.tweet > footer .fa-heart:hover {
  color: rgb(214, 27, 10);
}

@media only screen and (max-width: 400px) {
  .tweets-container {
    font-size: 0.75rem;
  }
  .tweet > footer {
    font-size: 0.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .tweet {
    max-width: 65vw;
  }
}
